<p>prodotto1-detail works!</p>

 <!--{{commandawriga|json}} -->

<div class="container">
  <caption class="title  col-sm-12"><strong>{{title}}</strong></caption>
  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div class="col-md-auto">
      <form #fm ="ngForm"  >
        <input hidden #id="ngModel"  [(ngModel)]="commandawriga.id" class="form-control" name="id" id="id">
         <div class="col-6 " style="margin-top: 35px;">
          <div class="row">
            <div class="col-md-12 offset-6">
              <img src="assets/images/photoProducts/{{commandawriga.photo}}"  alt="commandawriga.photo" class="img-circle rounded-circle border p-1" width="150px" height="150px" [(ngModel)]="commandawriga.photo" #photo="ngModel">   <!--displayedImage-->   <!--  -->
             
            </div>
          </div>
        </div>
        <!--  Descrizione -->
        <div class="form-row">
            <div class="form-group col-sm-9">
                  <label for="descrizione_prodotto">Prodotto</label>
                  <input disabled #descrizione_prodotto="ngModel"  [(ngModel)]="commandawriga.descrizione_prodotto" class="form-control" name="descrizione_prodotto" id="descrizione_prodotto">

            </div>


            <div class="form-group col-sm-3">
              <label for="prezzo_day">Prezzo</label>
              <input disabled #prezzo_day="ngModel"  [(ngModel)]="commandawriga.prezzo_day" class="form-control" name="prezzo_day" id="prezzo_day">    <!--  [style.color]="manif.statoManifestazione == 2 ? 'red' : null"-->
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="disponibile_Day">Disponibile</label>
              <input disabled #disponibile_Day="ngModel"  [(ngModel)]="commandawriga.disponibile_Day" class="form-control" name="disponibile_Day" id="disponibile_Day" >
            </div>
        </div>



        <label for="qta">qtà Ordinata</label>
<!--
  <div class="form-row form-inline col-sm-12">
    <div class="form-group ">
      <label for="qta">qtà Ordinata</label>
      <div class="col col-md-2">
        <input required  #qta="ngModel"  [(ngModel)]="commandawriga.qta"  name="qta" id="qta" pattern="[1-9]{2,3}">
      </div>
     </div>
  </div>

  <div class="form-row form-inline">
    <div class="form-group col-sm-4">
      <div class="form-group mb-2">
        <button type="button" class="btn btn-primary" (click)="aggiungoProdotti()" id="aggiungix" name="aggiungix">Aggiungi</button>
      </div>
    </div>
  </div>

    <div class="form-group  col-sm-4"  >
      <label for="togli"></label>
      <button [hidden]="commandawriga.qta === 0" type="button" class="btn btn-danger"  (click)="tolgoProdotti()" id="togli" name="togli">Togli</button>


    </div>
  -->
<div class="form-row form-inline">
     <div class="col-sm-1">
        <button type="button" class="btn btn-primary" (click)="aggiungoProdotti()" id="aggiungi" name="aggiungi">
          <fa-icon [icon]="faPlus"  fixed="true"></fa-icon>
        </button>
     </div>
        <div class="col-sm-1">
           <input disabled #qta="ngModel"  [(ngModel)]="commandawriga.qta" class="form-control widthqta" name="qta" id="qta" [style.color]="commandawriga.qta > 0 ? 'white' : null" [style.background]="commandawriga.qta > 0 ? 'red' : null">
        </div>
        <div class="col-sm-1">
          <button [disabled]="(commandawriga.qta == 0)" type="button" class="btn btn-danger" (click)="tolgoProdotti()" id="togli" name="togli">
            <fa-icon [icon]="faMinus"  fixed="true"></fa-icon>
          </button>
        </div>
</div>

<br>

      <div class="form-group form-footer">
        <div class="row col col-md-6">
          <div class="col col-md-6"></div>
            <div class="justify-content-md-left">
                <button [hidden]="commandawriga.qta === 0" class="btn btn-success btn-md" (click)="Salva(commandawriga)">Salva
                  <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
                </button>
            </div>
          </div>
      </div>

      <div class="row col-md-12">
        <!-- messaggi -->
        <div *ngIf="!alertSuccess && isVisible && commandawriga.qta > 0" class="alert alert-danger" role="alert">
          <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
             <p>{{Message}}</p>
             <hr>
           </div>
           <div *ngIf="alertSuccess && isVisible && commandawriga.qta > 0" class="alert alert-success" role="alert">
           <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
             <p>{{Message}}</p>
           </div>
       </div>

      </form>
    </div>
   </div>
</div>

