




<td>{{i}}</td>
<td>{{commandariga.d_categoria}}</td>
<td>{{commandariga.descrizione_prodotto}}</td>
<td>{{commandariga.qta_ord}}</td>
<td>{{commandariga.d_stato_lavorazione}}</td>
<td>{{commandariga.ora_inizio | date:'HH:mm'}}</td>
<td [style.color]="commandariga.flag_lavorazione == 0 ? 'green' : 'red'">{{commandariga.d_stato_lavorazione}}</td>
<td>{{commandariga.semaphoreLavorazione}} - {{commandariga.delayLavorazione}}</td>
<td [style.color]="commandariga.flag_consegna == 0 ? 'green' : 'red'">{{commandariga.d_stato_consegna}}</td>
<td>{{commandariga.semaphoreConsegna}} {{commandariga.delayConsegna}}</td>
<td class="buttons">
  <div class="row">
    <div class="col-sm-4">
        <button   class="btn btn-primary  btn-sm" (click)="showDetailProdotto(commandariga.idProdotto)" >
              <fa-icon [icon]="faInfo" fixed="true"></fa-icon>
        </button>
    </div>
   </div>
<td>



