<p>manifestazioni works!</p>



<br>

<!--{{messa | json}}      -->
<div class="container">
  <caption class="title col-sm-12"><strong>{{title}}</strong></caption>

  <div class="row col-md-10">    <!--  <div class="row justify-content-md-center"> -->

    <div class="col-md-auto">
      <form #fm ="ngForm">


        <div class="form-row">
          <div class="row col-sm-6">
            <div class="col-sm-6">
                 <button  class="btn btn-primary btn-rounded"  (click)="registraManifestazione()">Registrazione
                   <fa-icon [icon]="faPlusSquare"  fixed="true"></fa-icon>
                  </button>
             </div>
          </div>

          <div class="row col-sm-6">
            <div class="col-sm-6">
                <button  class="btn btn-primary btn-rounded"  (click)="RegistrabyPopup()">Registr. Popup
                  <fa-icon [icon]="faPlusSquare"  fixed="true"></fa-icon>
                  </button>
            </div>
          </div>
        </div>


  
  <br>

<div>
  <div class="row">
    <div class="form-check form-check-inline" *ngFor="let option of options">
         <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp;&nbsp; {{option}}
    </div>
 
  </div>
</div>

     <br>
  <div class="form-row col-md-12 borde">
        <table class="table  ">   <!--  table-striped p-3 mb-5 table-lg shadow-lgbg-white -->

          <tr>
              <th>prog</th>
              <th>manifestazione</th>
              <th>data Inizio</th>
              <th>data Fine</th>
              <th>Utenti</th>
              <th class="statoMan">stato</th>
              <!--  non serve action -->
              <th>Action</th>
          </tr>

          <tr app-manifestazione *ngFor ="let manifestazione of manifestazioni; let i = index"
          [manif-prog] = i+1
          [manif-data] = "manifestazione" [style.color]="manifestazione.statoManifestazione == 2 ? 'red' : null" >    <!--  -->


        </tr>
        </table>
    </div>
     <div class="row col-md-12">
  <!-- messaggi -->
  <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">
    <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
       <p>{{Message}}</p>
       <hr>
     </div>
     <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">
     <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
       <p>{{Message}}</p>
     </div>
    </div>
      </form>
    </div>
  </div>
</div>










