input.num {
  text-align:right;
  caret-color: red;
}
input.disabled {
  background: red;
}
input.enabled {
  background:Cornsilk;
}
.borde {
  border: 2px solid red;
}
.btngreen {
  /* Green */


  border: 4pz solid green;

}