<p>prodotti works!</p>




<div class="container-fluid">
  <table class="table">
    <tr >
      <td class="col col-md-7">
          <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
            <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
          </div>
      </td>
      <td>
          <!--  bottone per eseguire la ricerca -->
          <div class="col-md-5">
            <button [disabled]="!validSearch" class="btn btn-success btn-lg" (click)="ricercaProdotti()">Ricerca
              <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
            </button>
          </div>

      </td>
    </tr>

  </table>
</div>
  <div class="container-fluid">
    <table class="table">
      <tr>
        <td></td>
        <td></td>
        <td>
            <div *ngIf="trovatoRec"  class="col col-md-6">
                  <strong>Record :</strong>&nbsp;&nbsp; {{nRec}}
            </div></td>
      </tr>
    </table>


</div>


<!--{{messa | json}}      -->
<!--


<div class="container-fluid">
  <caption class="title col-sm-12">{{title}}</caption>
  <div class="row justify-content-md-center">    <!--  <div class="row justify-content-md-center">
    <form #fm ="ngForm">

            <table class="table">
              <tr>
                <td class="col col-md-7">
                    <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
                      <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
                    </div>
                </td>
                <td>

                  <div class="col-md-5">
                    <button [disabled]="!validSearch" class="btn btn-success btn-lg" (click)="ricercaPersone()">Ricerca
                      <fa-icon [icon]="faSearch"  fixed="true"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </table>

          -->
     <form #fm ="ngForm">

     <table class="table table-striped table-sm shadow-lg p-3 mb-5 bg-white ">

       <tr >
           <th>prog</th>
           <th>Descrizione</th>
           <th>Tipologia</th>
           <th>Categoria</th>
           <th>Disp. Day</th>
           <th>Prezzo Day</th>
           <th>Menu</th>
           <!--  non serve action -->
           <th>Action</th>
           <th></th>
        </tr>

       <tr app-prodotto  *ngFor ="let prodotto of prodotti | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
       [prodotto-prog] = i+1
       [prodotto-data] = "prodotto" [style.color]="prodotto.aMenu == '?' ? 'red' : null "
       (onSelectProdotto) ="onSelectProdotto($event)"
       >


     </tr>
     </table>

     <div class="row col-md-12">
      <!-- messaggi -->
      <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">
        <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
           <p>{{Message}}</p>
           <hr>
         </div>
         <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">
         <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
           <p>{{Message}}</p>
         </div>
        </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
     </form>
