<p>preview-commanda works!</p>

<br>

<div class="container">
  <div class="row col-md-12">

    <form #fm ="ngForm">
      <input Hidden #id="ngModel"  [(ngModel)]="commanda.id" class="form-control" name="id" id="id">
      <div class="form-row">

          <table class="col col-md-12">
              <tr>
                <td style="text-align: center;">
                  <a class="navbar-brand" href="#">
                    <img src="assets/images/logoSanfra.png" width="60" height="60" alt="logo">
                  </a>
                </td>
                <td style="text-align: left; font-size: 25px;">
                  <strong>{{title}}</strong>
                </td>
            </tr>
          </table>

          <div class="col col-md-12 offset-3">


          <table>
            <tr >
              <!--   <th>prog</th>  -->
                 <td><strong>Commanda N.</strong></td>
                 <td class="td1">
                  {{commanda.id}}
                </td>
                 <td class="td1"><strong>     Data</strong></td>
                 <td style="text-align: right; font-size: 15px; width: 30px">
                  <strong>{{giornata.dtGiornata  | date:'dd/MM/yyyy'}}</strong>
                </td>
            </tr>
            <tr >
              <!--   <th>prog</th>  -->
                 <td><strong>Persone</strong></td>
                 <td class="td1">
                  {{commanda.numPersone}}
                </td>
                 <td class="td1"><strong>Tavolo</strong></td>
                 <td >
                  <strong>{{commanda.numTavolo }}</strong>
                </td>
            </tr>
          </table>

          <br>


          <table class="col col-md-12">
            <tr >
              <td><strong>Cliente</strong></td>
              <td style="text-align: left; font-size: 15px;">
                {{commanda.anagrafica_cliente}}
              </td>
            </tr>
        </table>

      </div>


      <br>
      <hr>

      </div>
<!--
        <a class="navbar-brand" href="#">
          <img src="assets/images/logoSanfra.png" width="30" height="30" alt="logo">
        </a>
        <label >sanfra in festa</label>
          <div class="form-row col col-md-12">

          </div>
          <div class="form-row">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="id"><strong>Commanda N.</strong></label>&nbsp;&nbsp;
                <label >{{commanda.id}}</label>&nbsp;&nbsp;

              </div>
              <div class="form-group col-sm-6">
                  <label ><strong>Data: </strong></label>&nbsp;&nbsp;
                  <label >{{giornata.dtGiornata  | date:'dd/MM/yyyy'}}</label>

              </div>
            </div>
            <div class="form-group col-sm-12">
              <label for="cognome"><strong>Cognome e Nome </strong></label>&nbsp;&nbsp;
              <label >{{commanda.anagrafica_cliente}}</label>

            </div>
        </div>
       <div class="form-row">
        <div class="form-group col-sm-4">
          <label for="persone"><strong>Persone</strong></label>&nbsp;&nbsp;
          <label >{{commanda.numPersone}}</label>

        </div>
        <div class="form-group col-sm-4">
            <label ><strong>Tavolo</strong></label>&nbsp;&nbsp;
            <label >{{commanda.numTavolo}}</label>

        </div>  -->

    </form>

<form>
    <div class="container-fluid borde  offset-4">

      <div class=form-row>
        <div class="col col-md-12">

          <!--  inserire i dettagli di incasso e resto -->

                  <div class="col col-12">

                    <table>
                      <tr>
                        <th style='text-align:center; vertical-align:middle' colspan="4">I  m  p  o  r  t  o</th>
                      </tr>
                      <tr>
                        <th class="form-group col-sm-3"><strong>Prodotti</strong></th>
                        <th class="form-group col-sm-3"><strong>Coperto</strong></th>
                        <th class="form-group col-sm-3"><strong>Incassato</strong></th>
                        <th class="form-group col-sm-3"><strong> Resto</strong></th>
                      </tr>

                      <tr>
                        <td style="text-align: center;">
                          {{commanda.importoProdotti}}
                        </td>
                        <td style="text-align: center;">
                          {{commanda.importoCoperto}}
                        </td>
                        <td style="text-align: center;">
                          {{commanda.importoPagato}}
                        </td>
                        <td style="text-align: center;">
                          {{commanda.resto}}
                        </td>
                      </tr>
                    </table>
          <!--
                            <div class="form-row">
                              <div class="form-group col-sm-4">
                                <label for="persone"><strong>Totale Prodotti</strong></label>&nbsp;&nbsp;
                                <label >{{commanda.importoProdotti}}</label>

                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-sm-4">
                                <label for="persone"><strong>       Coperto</strong></label>&nbsp;&nbsp;
                                <label >{{commanda.importoCoperto}}</label>

                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-sm-4">
                                <label for="persone"><strong>Importo Pagato</strong></label>&nbsp;&nbsp;
                                <label >{{commanda.importoPagato}}</label>

                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-sm-4">
                                <label for="persone"><strong>Importo Resto</strong></label>&nbsp;&nbsp;
                                <label >{{commanda.resto}}</label>

                              </div>
                            </div>  -->
                    </div>


                <hr>

                <br>

                  <table class="table table-striped table-sm shadow-lg p-3  bg-white borde">

                    <tr >
                    <!--   <th>prog</th>  -->
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                        <th>Qta</th>
                        <th>Valore</th>
                        <th></th>
                    </tr>

                    <tr  *ngFor ="let commandariga of commandarighe; let i = index" >

                  <!-- <td>{{i + 1}}</td>  -->
                    <td>{{commandariga.descrizione_prodotto}}</td>
                    <td>{{commandariga.prezzo}}</td>
                    <td>{{commandariga.qta_ord}}</td>
                    <td>{{commandariga.prezzo * commandariga.qta_ord}}</td>
                  </tr>
                  </table>

              </div>
      </div>

            <div class="form-row">

              <div class="col col-md-12">

                <table class="table table-striped table-sm shadow-lg p-3  bg-white borde">
                  <tr >
                    <!--   <th>prog</th>  -->
                        <th></th>
                        <th></th>
                        <th style='text-align:center; vertical-align:middle' colspan="2">Incassato</th>

                        <th style='text-align:center; vertical-align:middle' colspan="2">Reso</th>

                        <th></th>
                    </tr>
                  <tr >
                  <!--   <th>prog</th>  -->
                      <th>Oper.</th>
                      <th>Taglia</th>
                      <th>Qta</th>
                      <th>Valore</th>
                      <th>Qta</th>
                      <th>Valore</th>
                      <th></th>
                  </tr>

                  <tr  *ngFor ="let moneypay of moneypays; let i = index" >

                <!-- <td>{{i + 1}}</td>  -->
                  <td>{{moneypay.movimento}}</td>
                  <td>{{moneypay.d_taglia}}</td>


                <td [style.visibility]="moneypay.nro_pezzi_entrata == 0 ? 'hidden' : null">{{moneypay.nro_pezzi_entrata}}</td>
                <td [style.visibility]="moneypay.imp_entrata == 0 ? 'hidden' : null">{{moneypay.imp_entrata}}</td>
                <td [style.visibility]="moneypay.nro_pezzi_uscita == 0 ? 'hidden' : null">{{moneypay.nro_pezzi_uscita}}</td>
                <td [style.visibility]="moneypay.imp_uscita == 0 ? 'hidden' : null">{{moneypay. imp_uscita}}</td>


<!--
                  <td [style.visibility]="moneypay.nro_pezzi_entrata == 0 ? 'hidden' : null">{{moneypay.nro_pezzi_entrata}}</td>
                  <td hidden *ngIf="(moneypay.imp_entrata == 0)">{{moneypay.imp_entrata}}</td>
                  <td hidden *ngIf="(moneypay.nro_pezzi_uscita == 0)">{{moneypay.nro_pezzi_uscita}}</td>
                  <td hidden *ngIf="(moneypay.imp_uscita == 0)">{{moneypay. imp_uscita}}</td>  -->
                </tr>
                </table>





              </div>





            </div>
    </div>
          <label for="cognome"><strong>Cassiere </strong></label>&nbsp;&nbsp;
          <label >{{cassiere}}</label>
   </form>
      </div>
 </div>


